<div {{ attributes }}>

    <div class="container-fluid p-5">
        <div class="row">
            <div class="form-container col-5">
                {{ form(form) }}
            </div>
            <div class="col-7">

                {{ dump(this.formData) }}
                <p>Namen: {{ this.formData.name }}</p>

                {% for position in this.formData.positions %}
                    <p>Position: {{ position }}</p>
                {% endfor %}
            </div>
        </div>
    </div>


</div>